<div class="utilizador-details-container">
	<div class="details-header">
		<!-- <h2 id="title">Personal Information</h2> -->
		<!-- <button mat-button (click)="editUtilizador(user)">Edit</button> -->
	</div>

	<br>

	<mat-card>
		<mat-card-content>
			<div style="display: flex; align-items: center; position: relative; width: 100%;">
				<div style="flex: 1; text-align: center;">
					<h3 style="margin: 0;">Personal Info</h3>
				</div>
				<button type="button" class="btn btn-warning" style="position: absolute; right: 0;" (click)="editUser(user)">
					<i class="bi bi-pencil"></i>
				  </button>
			</div>

			<!-- <button color="warn" (click)="chenagePassword()">
				Change Password
			  </button> -->

			<mat-divider></mat-divider><br>
			<br>
			<div class="info-group">
				<p><strong>Name:</strong> {{ user?.name || 'Not Provided' }}</p>
				<p><strong>Email:</strong> {{ user?.email || 'Not Provided' }}</p>
				<p><strong>Status:</strong>&nbsp;
					<span class="badge" [ngClass]="user?.status === 'active' ? 'bg-success' : 'bg-danger'">
						{{ user?.status || 'Não informado' }}
					</span>
				</p>
				<p><strong>Phone Number:</strong> {{ user?.phoneNumber || 'Not Provided' }}</p>
				<p><strong>NIF:</strong> {{ user?.NIF || 'Not Provided' }}</p>
				<p><strong>Birth Date:</strong>
					<span *ngIf="user?.birthDate; else noBirthDate">{{ user?.birthDate | date }}</span>
					<ng-template #noBirthDate>N/A</ng-template>
				</p>
				<p><strong>Driver License:</strong> {{ user?.driversLicense || 'Not Provided' }}</p>
				
				  <button ype="button" class="btn btn-secondary" [routerLink]="['/change-password']">Alterar Palavra-Passe</button>


			</div>
		</mat-card-content>
	</mat-card>

	<br>

	<div class="card-container2">
		<mat-card>
			<mat-card-content>

				<h3 style="text-align: center;">Passenger Info</h3>
				<mat-divider></mat-divider><br>
				<div class="info-group">
					<p><strong>Passenger Rating:</strong> {{ user?.passengerRating || 'Not Provided' }}</p>
					<p><strong>Passenger Rating Count:</strong> {{ user?.passengerRatingCount || 'Not Provided' }}</p>
				</div>
			</mat-card-content>
		</mat-card>

		<mat-card *ngIf="user?.driversLicense && user.driversLicense !== 'Not Provided'">
			<mat-card-content>
			  <div style="display: flex; align-items: center; position: relative; width: 100%;">
				<div style="flex: 1; text-align: center;">
				  <h3 style="margin: 0;">Driver Info</h3>
				</div>
				<button style="position: absolute; right: 0;" color="primary" (click)="addCar()">Add New Car</button>
			  </div>
		  
			  <mat-divider></mat-divider><br>
		  
			  <div class="info-group">
				<p *ngIf="user?.driverRating && user.driverRating !== 'Not Provided'">
				  <strong>Driver Rating:</strong> {{ user.driverRating }}
				</p>
				<p *ngIf="user?.driverRatingCount && user.driverRatingCount !== 'Not Provided'">
				  <strong>Driver Rating Count:</strong> {{ user.driverRatingCount }}
				</p>
			  </div>
			</mat-card-content>
		  </mat-card>
	</div>

	<br>


	<mat-card-content *ngIf="user?.driversLicense && user.driversLicense !== 'Not Provided'">
		<form [formGroup]="userForm">


			<div formArrayName="cars" class="cars-container">
				<mat-card *ngFor="let carCtrl of carsFormArray.controls; let i = index" [formGroupName]="i"
					class="car-card">
					<mat-card-header>
						<div style="display: flex; align-items: center; position: relative; width: 100%;">
							<div style="flex: 1;">
								<h5 style="margin: 0;">Car Info {{ i + 1 }}</h5>
							</div>
							<div>
								<button color="primary" (click)="editCar(i)" *ngIf="!isEditing1(i)">
									edit
								</button>
								<button color="warn" (click)="deleteCar(i)" *ngIf="!isEditing1(i)">
									delete
								</button>
							</div>
						</div>

					</mat-card-header>

					<mat-card-content>
						<br>
						<div *ngIf="isEditing1(i); else displayValues" class="edit-form">
							<mat-form-field appearance="outline">
								<mat-label>Brand</mat-label>
								<mat-select formControlName="brand" (selectionChange)="onBrandChange($event.value, i)">
									<mat-option *ngFor="let option of brandOptions" [value]="option">
										{{ option }}
									</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="outline">
								<mat-label>Model</mat-label>
								<mat-select formControlName="model">
									<mat-option *ngFor="let model of modelOptionsMap[i] || []" [value]="model">
										{{ model }}
									</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="outline">
								<mat-label>Color</mat-label>
								<mat-select formControlName="color">
									<mat-option *ngFor="let option of colorOptions" [value]="option">
										{{ option }}
									</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="outline">
								<mat-label>License Plate</mat-label>
								<input matInput formControlName="licensePlate"
									[readonly]="isEditing1(i) && !isAddingCar">
							</mat-form-field>

							<div class="button-row">
								<button mat-raised-button color="primary" (click)="handleSave(i)">Save</button>
								<!-- <button mat-raised-button color="primary" (click)="saveCar(i)">Save</button> -->
								<button mat-button (click)="cancelEdit(i)">Cancel</button>
							</div>
						</div>

						<ng-template #displayValues>
							<div class="car-info">
								<p><strong>Brand:</strong> {{ carCtrl.get('brand')?.value || 'Not Provided' }}</p>
								<p><strong>Model:</strong> {{ carCtrl.get('model')?.value || 'Not Provided' }}</p>
								<p><strong>Color:</strong> {{ carCtrl.get('color')?.value || 'Not Provided' }}</p>
								<p><strong>License Plate:</strong> {{ carCtrl.get('licensePlate')?.value || 'NotProvided' }}</p>
							</div>
						</ng-template>
					</mat-card-content>
				</mat-card>
			</div>

		</form>
	</mat-card-content>
	<br><br>
	<button type="button" class="btn btn-danger" color="warn"(click)="desativarConta()">
		Desactivate Account
	  </button>


	<br>

	<!-- <mat-card-content *ngIf="utilizador?.tipoUtilizador === 'cliente'">
		<br>
		<h3>Histórico de Reservas</h3>
		<mat-divider></mat-divider>
		<app-reservas></app-reservas>
	</mat-card-content> -->

	<br>

	<!-- <div class="desativacao" *ngIf="utilizador?.tipoUtilizador === 'cliente'">
		<button mat-raised-button class="desativar-button" (click)="desativarConta()">Desativar
			Conta</button>
	</div> -->
</div>