.badge {
    margin-left: 0px;
}

.cars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.car-card {
    flex: 1 1 calc(33% - 16px); /* 3 cards por linha, com espaçamento */
    box-sizing: border-box;
    min-width: 200px;
}

mat-card {
    //max-width: 1200px; /* Defina a largura máxima do card */
    //flex: 1 1 calc(98%);
	width: 98%; /* Garante que o card não ultrapasse o limite da largura */
    margin: 0 auto; /* Centraliza o card horizontalmente */
    padding: 16px; /* Padding opcional para um melhor espaçamento */
}


.card-container2 {
    display: flex; /* Coloca os cartões lado a lado */
    gap: 15px; /* Espaçamento de 15px entre os cartões */
  }
  
//   mat-card {
//     flex: 1; /* Distribui espaço uniformemente entre os cartões */
//     max-width: 50%; /* Evita que os cartões fiquem muito largos */
//   }