<mat-grid-list cols="2" rowHeight="3:1" style="border-bottom: solid black 1px;">
	<mat-grid-tile>
		<div style="display: flex; flex-direction: column;">
			<img src="/avatar.png" alt="Avatar" class="avatar">
			<span class="driver-name">{{ application?.user?.name }}</span>
			<app-star-rating [rating]="application?.user?.passengerRating"
				[nrEvaluations]="application?.user?.passengerRatingCount" [size]="'1x'" [showEvaluations]="true"
				[readOnly]="true"></app-star-rating>
		</div>
	</mat-grid-tile>
	<mat-grid-tile>
		<div style="display: flex; flex-direction: column;">
			<mat-list>
				@if (isDriver && application?.status === 'underReview')
				{
				<mat-list-item>
					<button mat-button color="primary" style="background-color: #4EC28F; color: black; width: 100px;"
						(click)="acceptPassenger(application?.user?.userID)">Accept</button>
				</mat-list-item>
				<mat-list-item>
					<button mat-button color="warn"
						style="background-color: #c24e4e; color: whitesmoke; width: 100px;" (click)="rejectPassenger(application?.user?.userID)" >Reject</button>
				</mat-list-item>

				}
				@else {
					<span  [ngClass]="{
						'bg-primary': application?.status === 'approved',
						'bg-success': application?.status === 'approved',
						'bg-secondary': application?.status === 'waitlist',
						'bg-danger': application?.status === 'rejected',
						'bg-dark': application?.status === 'canceled',
					}" style="padding: 5px 10px; border-radius: 5px; color: white;">
						{{(application?.status | uppercase)}}
					</span>
				}
			</mat-list>
		</div>
	</mat-grid-tile>
</mat-grid-list>