<mat-card>
	<mat-card-header>
		<h4>{{this.trip.departureDate | date:'dd/MM/yy'}} at {{this.trip.departureDate | date:'HH:mm'}}</h4>
	</mat-card-header>
	<mat-card-content>
		<mat-grid-list cols="3" rowHeight="3:1">
			<mat-grid-tile [rowspan]="3">
				<div class="driver">
					<img src="/avatar.png" alt="Avatar" class="avatar">
				<app-star-rating [showEvaluations]="true" [nrEvaluations]=444 [rating]=3.5 ></app-star-rating>
				</div>
			</mat-grid-tile>
			<mat-grid-tile [colspan]="2" rowspan="2">
				
				<div class="locations">
					<table>
						<tr>
							<th>FROM:</th>
							<td>
								{{this.trip.origin?.parish}}
							</td>
							<td>
								{{this.trip.origin?.municipality}}
							</td>
							<td>
								{{this.trip.origin?.district}}
							</td>
						</tr>

						<tr>
							<th>TO:</th>
							<td>
								{{this.trip.destination?.parish}}
							</td>
							<td>
								{{this.trip.destination?.municipality}}
							</td>
							<td>
								{{this.trip.destination?.district}}
							</td>
						</tr>
					</table>
				</div>
			</mat-grid-tile>

			<mat-grid-tile>
				<div matTooltip="Seats Available" class="spots-available">
					<mat-icon>people</mat-icon>
					<p> {{trip.passengers.length}} / {{trip.nrSeats}}</p>
				</div>
			</mat-grid-tile>
			<mat-grid-tile>2</mat-grid-tile>
		</mat-grid-list>


	</mat-card-content>
</mat-card>