
mat-card {
	// background-color: rgb(92, 141, 93);
	color: black;
	margin: 15px;
	width: 550px;
	height: 250px;
}

mat-card-header {
	border-radius: 15px 15px 0 0;
	background-color: black;
	color: whitesmoke;
}

mat-card-content {
	padding: 5px;
}

.avatar {
	margin: auto;
	vertical-align: middle;
	width: 50%;
	height: 50%;
	border-radius: 50%;
}

.driver {
	display: flex;
	flex-direction: column;
}



.locations {
	text-align: left;
	width: 90%;
	display: flex;
	flex-direction: column;
}


.spots-available {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

td {
	font-size: 20px;
	// text-align: right;
	border-bottom: solid 1px;
}

table {
	margin-right: 10px;
}