mat-grid-tile {
	background: lightgreen;
}


mat-card {
	margin: 15px;
	width: 550px;
	height: 250px;
}

mat-card-content {
	padding: 5px;
}

.avatar {
	margin: auto;
	vertical-align: middle;
	width: 50%;
	height: 50%;
	border-radius: 50%;
}

.driver {
	display: flex;
	flex-direction: column;
}

.rating {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin: auto;
	margin-top: 15px;
}

.checked {
	color: orange;
}

.rating {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row-reverse; /* this is the magic */
	justify-content: flex-end;
  }
  
  .rating input {
	display: none;
  }
  
  .rating label {
	font-size: 18px;
	cursor: pointer;
  }
  
  .rating label:hover,
  .rating label:hover ~ label { /* reason why the stars are in reverse order in the html */
	color: orange;
  }
  
  .rating input:checked ~ label {
	color: orange;
  }
  