<mat-dialog-content>
	<div style="display: flex; flex-direction: column; gap: 20px;">

		<h2 style="display: flex; justify-content: space-between; align-items: center;">
			<span>Trip Code: {{ trip?.tripCode }}</span>
			<span class="badge" [ngClass]="{
					'bg-primary': trip?.status === 'created',
					'bg-success': trip?.status === 'inOffer',
					'bg-secondary': trip?.status === 'closed',
					'bg-warning': trip?.status === 'ongoing',
					'bg-info': trip?.status === 'arrived',
					'bg-dark': trip?.status === 'finished',
					'bg-danger': trip?.status === 'canceled'
				}" style="padding: 5px 10px; border-radius: 5px; color: white;">
				{{ trip?.status === 'inOffer' ? 'In Offer' : (trip?.status | titlecase) }}
			</span>
		</h2>

		<mat-grid-list cols="2" rowHeight="1:1" style="border: solid black 1px; border-radius: 10px;">
			<mat-grid-tile>
				<div style="display: flex; flex-direction: column;">
					<img src="/avatar.png" alt="Avatar" class="avatar">
					<span class="driver-name">{{ trip?.driver?.name }}</span>
					<app-star-rating [rating]="trip?.driver?.driverRating"
						[nrEvaluations]="trip?.driver?.driverRatingCount" [size]="'2x'"
						[showEvaluations]="true"></app-star-rating>
				</div>
			</mat-grid-tile>
			<mat-grid-tile>
				<div style="display: flex; flex-direction: column;">
					<mat-list>
						<mat-list-item>
							<mat-icon matListItemIcon>directions_car</mat-icon>
							<span matListItemTitle> {{trip?.car?.model}} ({{ trip?.car?.color }})</span>
						</mat-list-item>
						<mat-list-item>
							<mat-icon matListItemIcon>confirmation_number</mat-icon>
							<span matListItemTitle> {{ trip?.car?.licensePlate }}</span>
						</mat-list-item>
						<mat-list-item>
							<mat-icon matListItemIcon>event_seat</mat-icon>
							<span matListItemTitle> {{ trip?.nrSeats - trip?.passengers.length }}/{{ trip?.nrSeats
								}}</span>
						</mat-list-item>
						<mat-list-item>
							<mat-icon matListItemIcon>calendar_today</mat-icon>
							<span matListItemTitle> {{ trip?.departureDate | date: 'fullDate' }},
								{{ trip?.departureDate | date: 'shortTime' }}
							</span>
						</mat-list-item>
						<mat-list-item>
							<mat-icon matListItemIcon>my_location</mat-icon>
							<span matListItemTitle> {{ trip?.origin.parish }} - {{ trip?.origin.municipality }}, {{
								trip?.origin.district }}</span>
						</mat-list-item>
						<mat-list-item>
							<mat-icon matListItemIcon>location_on</mat-icon>
							<span matListItemTitle> {{ trip?.destination.parish }} - {{
								trip?.destination.municipality }}, {{
								trip?.destination.district }}</span>
						</mat-list-item>
						<mat-list-item>
							<mat-icon matListItemIcon>attach_money</mat-icon>
							<span matListItemTitle> <span style="color: goldenrod;"> €{{ trip?.estimatedCost
									}}</span> : Estimated Trip Total Cost</span>
						</mat-list-item>
						<mat-list-item>
							<mat-icon matListItemIcon>people</mat-icon>
							<span matListItemTitle> <span style="color: goldenrod;"> €{{ trip?.pricePerPerson }}
								</span> : Price Per Passenger</span>
						</mat-list-item>

					</mat-list>
				</div>
			</mat-grid-tile>
		</mat-grid-list>


		<mat-expansion-panel hideToggle>
			<mat-expansion-panel-header>
				<mat-panel-title> Passengers </mat-panel-title>
			</mat-expansion-panel-header>
			<ul *ngIf="trip?.passengers?.length; else noPassengers">
				<li *ngFor="let passenger of trip?.passengers" style="display: flex; align-items: center;">
					{{ passenger.name.split(' ')[0] }}
					<div class="rating" style="margin-left: 10px;">
						<ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
							<span [class.filled]="i < passenger.passengerRating">&#9733;</span>
						</ng-container>
					</div>
				</li>
			</ul>
			<ng-template #noPassengers>
				<p style="text-align: center;">There are no passengers yet.</p>
			</ng-template>
		</mat-expansion-panel>
		<mat-expansion-panel hideToggle>
			<mat-expansion-panel-header>
				<mat-panel-title> Candidates </mat-panel-title>
			</mat-expansion-panel-header>
			<ul *ngIf="this.candidates?.length; else noCandidates">
				<li *ngFor="let passenger of trip?.passengers" style="display: flex; align-items: center;">
					{{ passenger.name.split(' ')[0] }}
					<div class="rating" style="margin-left: 10px;">
						<ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
							<span [class.filled]="i < passenger.passengerRating">&#9733;</span>
						</ng-container>
					</div>
				</li>
			</ul>
			<ng-template #noCandidates>
				<p style="text-align: center;">There are no applications to this trip yet.</p>
			</ng-template>
		</mat-expansion-panel>
	</div>

</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Apply</button>
	<button mat-button mat-dialog-close color="primary">Fechar</button>
</mat-dialog-actions>