<mat-dialog-content>
	<h2>Detalhes da Viagem</h2>
	<mat-divider></mat-divider>

	<div class="content">
		<!-- Driver Section -->
		<div class="driver">
			<img src="/avatar.png" alt="Avatar" class="avatar">
			<div class="driver-details">
				<span class="driver-name">{{ trip.driver.name }}</span>
				<div class="rating">
					<ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
						<span [class.filled]="i < trip.driver.rating">&#9733;</span>
					</ng-container>
				</div>
			</div>
		</div>

		<!-- Car Section -->
		<div class="car">
			<div class="car-details">
				<span class="car-info"><strong>Car:</strong> {{ trip.car.brand }} - {{trip.car.model}}</span>
				<span class="car-color"><strong>Color:</strong> {{ trip.car.color }}</span>
				<span class="car-plate"><strong>Plate:</strong> {{ trip.car.plate }}</span>
				<span class="car-seats"><strong>Seats available:</strong> {{ trip.nrSeats -
					trip.passengers.length }}/{{ trip.nrSeats }}</span>
			</div>
		</div>
	</div>
	<app-map-display></app-map-display>
	<div class="trip-info">
		<p><strong>Código da Viagem:</strong> {{ trip.tripCode }}</p>
		<p><strong>Carro:</strong> {{ trip.car }}</p>
		<p><strong>Status:</strong> {{ trip.status }}</p>
		<p><strong>Assentos Disponíveis:</strong> {{ trip.nrSeats }}</p>
		<p *ngIf="trip.estimatedCost"><strong>Custo Estimado:</strong> €{{ trip.estimatedCost }}</p>
		<p *ngIf="trip.pricePerPerson"><strong>Preço por Pessoa:</strong> €{{ trip.pricePerPerson }}</p>
		<p><strong>Motorista:</strong> {{ trip.driver }}</p>
	</div>

	<mat-divider></mat-divider>

	<h3>Passageiros</h3>
	<ul>
		<li *ngFor="let passenger of trip.passengers">{{ passenger }}</li>
	</ul>

	<mat-divider></mat-divider>

	<h3>Origem</h3>
	<p><strong>Município:</strong> {{ trip.origin.municipality }}</p>
	<p><strong>Freguesia:</strong> {{ trip.origin.parish }}</p>
	<p><strong>Distrito:</strong> {{ trip.origin.district }}</p>

	<mat-divider></mat-divider>

	<h3>Destino</h3>
	<p><strong>Município:</strong> {{ trip.destination.municipality }}</p>
	<p><strong>Freguesia:</strong> {{ trip.destination.parish }}</p>
	<p><strong>Distrito:</strong> {{ trip.destination.district }}</p>

	<mat-divider></mat-divider>

	<div class="dates">
		<p><strong>Data de Partida:</strong> {{ trip.departureDate | date: 'short' }}</p>
		<p><strong>Criado em:</strong> {{ trip.createdAt | date: 'short' }}</p>
	</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close color="primary">Fechar</button>
</mat-dialog-actions>