<div class="app-container">
  <div class="content-wrapper">
    <!-- Navigation -->
    <ul class="nav nav-tabs">
      <div class="nav-left">
        <li class="nav-item logo-item">
          <img src="/DeBoleiaLogo.png" alt="DeBoleia Logo">
          <a class="nav-link" routerLink="/">DeBoleia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rides">Find Rides</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/offers">Offer a ride</a>
        </li>
      </div>
      <div class="nav-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
      </div>
    </ul>

    <!-- Main content -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>

  <!-- Back to Top Button -->
@if (showBackToTop) {
  <button (click)="scrollToTop()" 
          class="btn btn-primary back-to-top" 
          title="Go to top">
      ↑
  </button>
}

<!-- Footer -->
<div>
  <footer class="footer">
    © 2025 DeBoleia
  </footer>
</div>
