<div class="main">
	<div class="col-left">
		<div class="search-filter">
			<h1 id="title">FIND YOUR RIDE</h1>
			<p id="subtitle">Discover the best rides at unbeatable prices. Your journey starts here!</p>
			<div class="search-input">
				<!-- District Field -->
				<mat-form-field>
					<input matInput placeholder="District" [formControl]="originDistrictControl"
						[matAutocomplete]="autoDistrict">
					<mat-autocomplete #autoDistrict="matAutocomplete">
						<mat-option *ngFor="let district of filteredDistricts | async" [value]="district">
							{{ district }}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>

				<!-- Municipality Field (only visible if a valid district is selected) -->
				<ng-container *ngIf="originDistrictControl.value && districts.includes(originDistrictControl.value)">
					<mat-form-field>
						<input matInput placeholder="Municipality" [formControl]="originMunicipalityControl"
							[matAutocomplete]="autoMunicipality" (focus)="triggerAutocomplete(originMunicipalityControl, filteredMunicipalities)">
						<mat-autocomplete #autoMunicipality="matAutocomplete">
							<mat-option *ngFor="let municipality of filteredMunicipalities | async"
								[value]="municipality">
								{{ municipality }}
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</ng-container>

				<!-- Parish Field (only visible if a valid municipality is selected) -->
				<ng-container *ngIf="originMunicipalityControl.value && municipalities.includes(originMunicipalityControl.value)">
					<mat-form-field>
						<input matInput placeholder="Parish" [formControl]="originParishControl"
							[matAutocomplete]="autoParish" (focus)="triggerAutocomplete(originParishControl, filteredParishes)">
						<mat-autocomplete #autoParish="matAutocomplete">
							<mat-option *ngFor="let parish of filteredParishes | async" [value]="parish">
								{{ parish }}
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</ng-container>

			</div>
			<button mat-button style="width: 40%; margin: auto; background-color: #4EC28F;">Search</button>
			<img src="/findAride.png" alt="" />

		</div>
	</div>

	<div class="col-right">
		<div class="cards" *ngFor="let trip of trips">
			<app-trip-card [tripCode]="trip.tripCode" (click)="tripDetails(trip.tripCode)"></app-trip-card>
		</div>
	</div>
</div>