<div class="main">

	<div class="col-left">
		<div class="search-filter">
			<h1 id="title">FIND YOUR RIDE TODAY</h1>
			<p id="subtitle">Discover the best rides at unbeatable prices. Your journey starts here!</p>
			<div class="search-input">
				<mat-icon>my_location</mat-icon>
				<mat-form-field appearance="outline">
					<mat-label>parish</mat-label>
					<input matInput placeholder="Enter parish">
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>municipality</mat-label>
					<input matInput placeholder="Enter municipality">
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>district</mat-label>
					<input matInput placeholder="Enter district">
				</mat-form-field>
			</div>
			<div class="search-input">
				<mat-icon>pin_drop</mat-icon>
				<mat-form-field appearance="outline">
					<mat-label>parish</mat-label>
					<input matInput placeholder="Enter parish">
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>municipality</mat-label>
					<input matInput placeholder="Enter municipality">
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>district</mat-label>
					<input matInput placeholder="Enter district">
				</mat-form-field>
			</div>
			<button mat-raised-button color="primary">Search</button>
		</div>
	</div>


	<div class="col-right">
		<div class="cards">
			<app-trip-card></app-trip-card>
			<app-trip-card></app-trip-card>
			<app-trip-card></app-trip-card>
			<app-trip-card></app-trip-card>
			<app-trip-card></app-trip-card>
			<app-trip-card></app-trip-card>
			<app-trip-card></app-trip-card>
		</div>
	</div>
</div>