<div class="main">

	<div class="col-left">
		<div class="search-filter">
			<h1 id="title">FIND YOUR RIDE TODAY</h1>
			<p id="subtitle">Discover the best rides at unbeatable prices. Your journey starts here!</p>
			<div class="search-input">
				<mat-icon>my_location</mat-icon>
				<mat-form-field appearance="outline">
					<mat-label>Origin</mat-label>
					<input matInput placeholder="Enter Origin">
				</mat-form-field>
			</div>
			<mat-divider style="margin-bottom: 20px;"></mat-divider>
			<div class="search-input">
				<mat-icon>location_on</mat-icon>
				<mat-form-field appearance="outline">
					<mat-label>Destination</mat-label>
					<input matInput placeholder="Enter Destination">
				</mat-form-field>
			</div>
			<button mat-raised-button color="primary">Search</button>
		</div>
	</div>


	<div class="col-right">
		<div class="cards" *ngFor="let trip of trips">
				<app-trip-card [tripCode]="trip.tripCode"></app-trip-card>
		</div>
	</div>
</div>